{% extends 'base.html' %}
{% block body %}
<body class="body">
    <div class="page-header">
        <div class="row">
            <div class="col-xs-3"><h1><a href="/">NotiCampus</a></h1></div>
			<div class="col-xs-7"><img src="/static/img/icono.png" style="width:10%"></div>
            <div class="col-xs-2"><h1> <a type="button" class="btn btn-danger" href="/cerrar">Sing Out</a></h1></div>
        </div>
    </div>
{% block content %}
	<div>
			<h1>Noticias</h1>
	</div>
{% for noticia in noticias%}
	<div class="noticia">
		<div class="date">
			{{ noticia.published_date }}
		</div>
		<p>de {{noticia.author}} - {{noticia.created_date}}</p>
		<p>{{ noticia.title }}</p>
		<p>{{ noticia.text|linebreaksbr }}</p>
		<a href="blog.html">Leer mas</a>
	</div>
{% endfor %}
{% endblock content %}
</body>
{% endblock body %}