{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>NotiCampus</title>
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>
	<body>
		<div class="page">
			<div class="header">
				<a href="index.html" id="logo"><img src="{% static 'img/logo.gif' %}" alt=""/></a>
				<ul>
					<li class="selected"><a href="">Home</a></li>
					<li><a href="">About</a></li>
					<li><a href="">Blog</a></li>
					<li><a href="">Services</a></li>
				</ul>
			</div>
			<div class="body">
				<div>
					<h1>Noticias</h1>
				</div>
				{% for noticia in noticias%}
				<div>
					<p>de {{noticia.author}} - {{noticia.created_date}}</p>
					<p>{{ noticia.title }}</p>
					<p>{{ noticia.text|linebreaksbr }}</p>
					<a href="blog.html">Click to read more</a>
					<br>
				</div>
				{% endfor %}
			</div>
			<div class="footer">
				<ul>
					<li><a href="">Home</a></li>
					<li><a href="">About</a></li>
					<li><a href="">Blog</a></li>
					<li><a href="">Gallery</a></li>
				</ul>
				<p>&#169; Copyright &#169; 2011. Company name all rights reserved</p>
				<div class="connect">
					<a href="http://facebook.com/" id="facebook">facebook</a>
					<a href="http://twitter.com/" id="twitter">twitter</a>
					<a href="http://www.youtube.com/" id="vimeo">vimeo</a>
				</div>
			</div>
		</div>
	</body>
</html>  
