{% extends 'base.html' %}
{% block body %}
    <div class="page-header">
        <div class="row">
            <div class="col-xs-3"><h1><a href="/">NotiCampus</a></h1></div>
			<div class="col-xs-7"><img src="/static/img/icono.png" style="width:10%"></div>
            <div class="col-xs-1"><a type="button" class="btn btn-primary" href="/">Sing in</a></div>

        </div>
    </div>
    <h1>Registrar</h1>
    <form id='formulario' method ='post' action=''>{% csrf_token%}
        <table>{{formulario}}</table>
        <p><button type="submit" class="btn btn-primary" value="Registrar">Registrar</button></p>
    </form>
{% endblock body %}